################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Webgentle.BookStore/.vs/Webgentle.BookStore
/Webgentle.BookStore/Webgentle.BookStore/bin/Debug/net6.0
/Webgentle.BookStore/Webgentle.BookStore/obj
/Webgentle.BookStore/Webgentle.BookStore/wwwroot/lib/twitter-bootstrap
/Webgentle.BookStore/Webgentle.BookStore/wwwroot/lib/jquery/jquery.js
/Webgentle.BookStore/Webgentle.BookStore/wwwroot/lib/jquery/jquery.min.js
/Webgentle.BookStore/Webgentle.BookStore/wwwroot/lib/jquery/jquery.slim.min.js
/Webgentle.BookStore/Webgentle.BookStore/wwwroot/lib/jquery/jquery.slim.js
/Webgentle.BookStore/Webgentle.BookStore/wwwroot/lib/jquery/jquery.min.map
/Webgentle.BookStore/Webgentle.BookStore/wwwroot/lib/jquery/jquery.slim.min.map
